.containerForm{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.containerForm h2{
  margin-bottom: .9375rem;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}
.containerForm p{
  font-size: 1.0625rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 30px;
}
.containerForm span{
  font-size: 1.0625rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.4s ease;
  cursor: pointer;
}
.containerForm span:hover{
  color: #1D4ED8;
}
.containerForm .icon{
  color: #1D4ED8;
  margin-right: 10px;
}
.textAndIcon{
  display: flex;
  align-items: start;
  margin-bottom: .4rem;
}
.infoForm{
  flex: 0 0 45%;
}
form{
  flex: 0 0 45%;
}
.containerForm label{
  color: #fff;
}
.containerForm form .inputForm, textarea{
  width: 100%;
  padding: 15px 10px;
  font-size: .9735rem;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: 0px;
}
.containerForm form .inputForm:focus{
  border: 1px solid #1D4ED8;
}
.containerForm form textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 140px;
  max-height: 150px;
}
.containerForm form .inputForm{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.containerForm form .inputForm input{
  width: 100%;
  padding: 15px 10px;
  font-size: .9735rem;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 20px;
  outline: 0px;
}
.containerForm form .inputForm input:focus{
  border: 1px solid #1D4ED8;
}