html{
  scroll-behavior: smooth;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.imgMain-overlay {
  content: 'o';
  position: absolute;
  top: 0;
  left: 70%;
  transform: translate(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #1D4ED8;
  opacity: 0.2;
  z-index: -1;
}